<div class="row mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow">
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>
            <select class="form-control border-0" [(ngModel)]="searchGroup">
                <option [value]="0">Search by select group</option>
                <option *ngFor="let grp of groups" [value]="grp.id">{{grp.name}}</option>
            </select>
            <div class="input-group-append">
                <span (click)="openModal(modalContent, null)" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-plus"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Group</th>
                        <th>Option</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ent of get_filtered_group_options() | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="align-middle">{{ent.id}}</td>
                        <td class="align-middle text-truncate">{{get_value(ent).group}}</td>
                        <td class="align-middle text-truncate">{{get_value(ent).option}}</td>
                        <td class="align-middle">
                            <div class="btn-group" role="group">
                                <button class="btn btn-secondary btn-sm" (click)="openModal(modalContent, ent)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-secondary btn-sm" (click)="deleteData(ent)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="10"></pagination-controls>
        </div>
    </div>
</div>

<ng-template #modalContent>
    <div class="modal-body bg-gray">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="card">
                <div class="card-header text-center">
                    <h5 *ngIf="!group_option.id">Add new entry</h5>
                    <h5 *ngIf="group_option.id">Edit entry</h5>
                </div>
                <div class="card-body text-center">
                    <div class="form-group">
                        <label>Group Name</label>
                        <select class="form-control" formControlName="group_id">
                            <option *ngFor="let grp of groups" [value]="grp.id">{{grp.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Option Name</label>
                        <select class="form-control" formControlName="option_id">
                        <option *ngFor="let option of options" [value]="option.id">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button [disabled]="!form.valid" class="btn btn-success mr-1 w-100p" type="submit"><span *ngIf="!group_option.id">Add</span><span *ngIf="group_option.id">Update</span></button>
                    <button type="button" class="btn btn-danger w-100p" (click)="closeModal()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>